/* CoinLibrary.module.css */
/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 750px;
  max-width: max-content;
}

.coinList {
  width: 100%;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.coinRows {
  max-height: calc(100vh - 6rem);

  overflow-y: auto;
}

.coinsTable {
  width: 100%; */
/* max-width: 800px; /* Set a maximum width for the table */
/* position: relative;
  margin: 0 auto; Center the table horizontally
}

/* @media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .coinList {
    width: 30%;
    padding-right: 0.5rem;
  }

  .coinsTable {
    width: 60%;
    margin: 0;
  }
} */
